.App {
  text-align: center;
}

.app-wrapper  {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  height: 400px;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}


.nav  {
   grid-area:n;
   background-color: green;
}

.content  {
  grid-area:c;
  background-color: rgb(255, 154, 21);
}

